<template>
  <Layout>
    <!-- Message Top Box -->
    <div>
      <!-- Quik search -->
      <div class="dez-quik-search">
        <div class="auto-container">
          <span id="quik-search-remove"><i class="fa fa-window-close"></i></span>
          <div class="row clearfix">
            <!-- Column -->
            <div class="column col-lg-4 col-md-4 col-sm-12">
              <h3>Contact Information</h3>
              <ul class="contact-info-list">
                <li><span class="icon fa fa-phone"></span>+000 (000) 000 00</li>
                <li><span class="icon fa fa-envelope"></span>info@example.com</li>
                <li><span class="icon fa fa-map-marker"></span>#59, East Madison Ave, Melbourne Australia</li>
                <li><span class="icon fa fa-clock"></span>Opening Hours : Monday - Satureday   9:00 am  to  5pm</li>
              </ul>
            </div>
            <!-- Column -->
            <div class="column col-lg-4 col-md-4 col-sm-12">
              <h3>Subscribe</h3>
              <!--Subscribe Form-->
              <div class="subscribe-form-two">
                <form method="post" action="contact.html">
                  <div class="form-group">
                    <input type="email" name="email" value="" placeholder="Email Address " required>
                    <button type="submit" class="theme-btn btn-style-one">Subscribe</button>
                  </div>
                </form>
              </div>
            </div>
            <!-- Column -->
            <div class="column col-lg-4 col-md-4 col-sm-12">
              <div class="video-inner-column">
                <h3>About Us</h3>
                <!-- Video Box Two -->
                <div class="video-box-two">
                  <div class="image">
                    <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-play-button"><i class="ripple"></i></span></a>
                    <img src="../../src/assets/img/resource/video-img-4.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Message Icon Box -->
      <div class="message-icon-box message-search-box-outer">
        <span class="icon fa fa-envelope"></span>
      </div>
      <!-- End Message Icon Box -->

    </div>

    <!--Main Slider-->
    <section class="main-slider-two">
      <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_three_wrapper" data-source="gallery">
        <div class="rev_slider fullwidthabanner" id="rev_slider_three" data-version="5.4.1">
          <ul>
            <!-- Slide 1 -->
            <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1687" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-7.jpg" data-title="Slide Title" data-transition="parallaxvertical">

              <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="../../src/assets/img/main-slider/image-7.jpg">

              <div class="tp-caption"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingtop="[0,0,0,0]"
                   data-responsive_offset="on"
                   data-type="text"
                   data-height="none"
                   data-width="['720','600','700','450']"
                   data-whitespace="normal"
                   data-hoffset="['-190','15','15','15']"
                   data-voffset="['0','0','0','0']"
                   data-x="['right','right','left','left']"
                   data-y="['middle','middle','middle','middle']"
                   data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                <div class="slider-content">
                  <div class="title">Welcome to our</div>
                  <h2>Vehicle GARAGE</h2>
                  <div class="text">We will make you love your car. We specialize in complete auto <br> care at a low cost and in a professional manner.</div>
                  <a href="services.html" class="theme-btn btn-style-one">Booking Now</a>
                </div>
              </div>

            </li>

            <!-- Slide 2 -->
            <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-1.jpg" data-title="Slide Title" data-transition="parallaxvertical">

              <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="../../src/assets/img/main-slider/image-2.jpg">

              <div class="tp-caption"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingtop="[0,0,0,0]"
                   data-responsive_offset="on"
                   data-type="text"
                   data-height="none"
                   data-width="['720','600','700','450']"
                   data-whitespace="normal"
                   data-hoffset="['-190','15','15','15']"
                   data-voffset="['0','0','0','0']"
                   data-x="['right','right','left','left']"
                   data-y="['middle','middle','middle','middle']"
                   data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                <div class="slider-content">
                  <div class="title">Welcome to our</div>
                  <h2>Vehicle GARAGE</h2>
                  <div class="text">We will make you love your car. We specialize in complete auto <br> care at a low cost and in a professional manner.</div>
                  <a href="services.html" class="theme-btn btn-style-one">Booking Now</a>
                </div>
              </div>

            </li>

            <!-- Slide 3 -->
            <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1697" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-1.jpg" data-title="Slide Title" data-transition="parallaxvertical">
              <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="../../src/assets/img/main-slider/image-3.jpg">

              <div class="tp-caption"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingtop="[0,0,0,0]"
                   data-responsive_offset="on"
                   data-type="text"
                   data-height="none"
                   data-width="['720','600','700','450']"
                   data-whitespace="normal"
                   data-hoffset="['-190','15','15','15']"
                   data-voffset="['0','0','0','0']"
                   data-x="['right','right','left','left']"
                   data-y="['middle','middle','middle','middle']"
                   data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                <div class="slider-content">
                  <div class="title">Welcome to our</div>
                  <h2>Vehicle GARAGE</h2>
                  <div class="text">We will make you love your car. We specialize in complete auto <br> care at a low cost and in a professional manner.</div>
                  <a href="services.html" class="theme-btn btn-style-one">Booking Now</a>
                </div>
              </div>

            </li>

          </ul>
        </div>
      </div>
    </section>
    <!--End Main Slider-->

    <!-- Main Content Box -->
    <div class="main-content-box">

      <!-- Main Header-->
      <header class="fixed-top-bar">

        <div class="auto-container">
          <div class="main-box clearfix">

            <!--outer Box-->
            <div class="outer-box">

              <!-- Cart Btn -->
              <div class="cart-btn">
                <a href="shop-single.html" title="">
                  <i class="flaticon-shopping-bag-1"></i>
                  <span class="count">2</span>
                </a>
              </div>

              <!-- Fixed Search Box Btn -->
              <div class="fixed-search-box-btn"><span class="fa fa-search"></span></div>

              <a href="services.html" class="theme-btn btn-style-one">Booking Now</a>

            </div>
            <!--End outer Box-->

            <!-- Main Menu -->
            <nav class="main-menu navbar-expand-md">
              <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                <ul class="navigation clearfix">
                  <li class="dropdown current"><a href="#">Home</a>
                    <ul>
                      <li><a href="index.html">Homepage One</a></li>
                      <li><a href="index-2.html">Homepage Two</a></li>
                      <li><a href="index-3.html">Homepage Three</a></li>
                      <li><a href="index-4.html">Homepage Four</a></li>
                      <li class="dropdown"><a href="#">Header Styles</a>
                        <ul>
                          <li><a href="index.html">Header Style One</a></li>
                          <li><a href="index-2.html">Header Style Two</a></li>
                          <li><a href="index-3.html">Header Style Three</a></li>
                          <li><a href="index-4.html">Header Style Four</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="#">About</a>
                    <ul>
                      <li><a href="about.html">About</a></li>
                      <li><a href="appointment.html">Appointment</a></li>
                      <li><a href="team.html">Team</a></li>
                      <li><a href="price.html">Price</a></li>
                      <li><a href="coming-soon.html">Coming Soon</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="#">Projects</a>
                    <ul>
                      <li><a href="project.html">Project</a></li>
                      <li><a href="project-detail.html">Project Detail</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="#">Services</a>
                    <ul>
                      <li><a href="services.html">Services 01</a></li>
                      <li><a href="services-2.html">Services 02</a></li>
                      <li><a href="service-detail.html">Services Single</a></li>
                    </ul>
                  </li>
                  <li class="dropdown has-mega-menu"><a href="#">Pages</a>
                    <div class="mega-menu">
                      <div class="mega-menu-bar row clearfix">
                        <div class="column col-md-4 col-sm-4 col-xs-12">
                          <h3>About Us</h3>
                          <ul>
                            <li><a href="team.html">Team</a></li>
                            <li><a href="team-single.html">Team Single</a></li>
                            <li><a href="testimonials.html">Testimonial</a></li>
                            <li><a href="faq.html">FAQ's</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                          </ul>
                        </div>
                        <div class="column col-md-4 col-sm-4 col-xs-12">
                          <h3>Solutions</h3>
                          <ul>
                            <li><a href="service-detail.html">Solutions</a></li>
                            <li><a href="service-detail.html">Chemical Engineering</a></li>
                            <li><a href="service-detail.html">Energy & Power Engineering</a></li>
                            <li><a href="service-detail.html">Oil & Gas Engineering</a></li>
                            <li><a href="service-detail.html">Civil Engineering</a></li>
                          </ul>
                        </div>
                        <div class="column col-md-4 col-sm-4 col-xs-12">
                          <h3>Blog</h3>
                          <ul>
                            <li><a href="blog.html">Our Blog</a></li>
                            <li><a href="blog-classic.html">Blog Classic</a></li>
                            <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                            <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                            <li><a href="blog-detail.html">Blog Details</a></li>
                          </ul>
                        </div>

                      </div>
                    </div>
                  </li>
                  <li class="dropdown"><a href="#">News</a>
                    <ul>
                      <li><a href="blog.html">News</a></li>
                      <li><a href="blog-detail.html">News Detail</a></li>
                      <li><a href="error-page.html">Error Page</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="#">Shop</a>
                    <ul>
                      <li><a href="shop.html">Products</a></li>
                      <li><a href="shop-single.html">Products Detail</a></li>
                      <li><a href="checkout.html">Checkout</a></li>
                      <li><a href="cart.html">Shopping Cart</a></li>
                      <li><a href="login.html">Registration</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </div>

            </nav>
            <!-- Main Menu End-->

          </div>
        </div>
      </header>
      <!--End Main Header -->

      <!-- Updated Services Section -->
      <section class="updated-services-section">
        <div class="auto-container">
          <!-- Sec Title -->
          <div class="sec-title text-center">
            <h2>Repair & Inspation Services</h2>
            <div class="separator"><span class="flaticon-settings-2"></span></div>
          </div>

          <div class="inner-container">

            <!-- Services Tabs-->
            <div class="services-tabs tabs-box">
              <div class="row clearfix">
                <!--Column-->
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                  <!--Tab Btns-->
                  <ul class="tab-btns tab-buttons clearfix">
                    <li class="title">100% Quality <strong>Guarantee</strong></li>
                    <li data-tab="#prod-general" class="tab-btn">General Maintenance</li>
                    <li data-tab="#prod-transmission" class="tab-btn active-btn">Transmission</li>
                    <li data-tab="#prod-engine" class="tab-btn">Engine Repair</li>
                    <li data-tab="#prod-brake" class="tab-btn">Brake Repair</li>
                    <li data-tab="#prod-repair" class="tab-btn">More Repair Services</li>
                  </ul>
                </div>
                <!--Column-->
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                  <!--Tabs Container-->
                  <div class="tabs-content">

                    <!-- Tab -->
                    <div class="tab" id="prod-general">
                      <div class="content">
                        <div class="row clearfix">

                          <!-- Content Column -->
                          <div class="content-column col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-column">
                              <h2>General Mintenace</h2>
                              <div class="text">Volutpat sodales, mauris erat rutrum deserunt sed pharetra mollis, nunc leo eu maecenas nascetur duis viverra nam vitae</div>
                              <div class="row clearfix">
                                <div class="column col-lg-6 col-md-6 col-sm-12">
                                  <ul class="list-style-three">
                                    <li>Oil Changes</li>
                                    <li>Fluid Services</li>
                                  </ul>
                                </div>
                                <div class="column col-lg-6 col-md-6 col-sm-12">
                                  <ul class="list-style-three">
                                    <li>Filter Replacement</li>
                                    <li>Diesel Auto Repair</li>
                                  </ul>
                                </div>
                              </div>
                              <a href="services.html" class="theme-btn btn-style-one">Read More </a>
                            </div>
                          </div>

                          <!-- Image Column -->
                          <div class="image-column col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-column">
                              <div class="image">
                                <img src="../../src/assets/img/resource/service-7.jpg" alt="" />
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <!--Tab  / Active Tab -->
                    <div class="tab active-tab" id="prod-transmission">
                      <div class="content">
                        <div class="row clearfix">

                          <!-- Content Column -->
                          <div class="content-column col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-column">
                              <h2>General Mintenace</h2>
                              <div class="text">Volutpat sodales, mauris erat rutrum deserunt sed pharetra mollis, nunc leo eu maecenas nascetur duis viverra nam vitae</div>
                              <div class="row clearfix">
                                <div class="column col-lg-6 col-md-6 col-sm-12">
                                  <ul class="list-style-three">
                                    <li>Oil Changes</li>
                                    <li>Fluid Services</li>
                                  </ul>
                                </div>
                                <div class="column col-lg-6 col-md-6 col-sm-12">
                                  <ul class="list-style-three">
                                    <li>Filter Replacement</li>
                                    <li>Diesel Auto Repair</li>
                                  </ul>
                                </div>
                              </div>
                              <a href="services.html" class="theme-btn btn-style-one">Read More </a>
                            </div>
                          </div>

                          <!-- Image Column -->
                          <div class="image-column col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-column">
                              <div class="image">
                                <img src="../../src/assets/img/resource/service-7.jpg" alt="" />
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <!-- Tab -->
                    <div class="tab" id="prod-engine">
                      <div class="content">
                        <div class="row clearfix">

                          <!-- Content Column -->
                          <div class="content-column col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-column">
                              <h2>General Mintenace</h2>
                              <div class="text">Volutpat sodales, mauris erat rutrum deserunt sed pharetra mollis, nunc leo eu maecenas nascetur duis viverra nam vitae</div>
                              <div class="row clearfix">
                                <div class="column col-lg-6 col-md-6 col-sm-12">
                                  <ul class="list-style-three">
                                    <li>Oil Changes</li>
                                    <li>Fluid Services</li>
                                  </ul>
                                </div>
                                <div class="column col-lg-6 col-md-6 col-sm-12">
                                  <ul class="list-style-three">
                                    <li>Filter Replacement</li>
                                    <li>Diesel Auto Repair</li>
                                  </ul>
                                </div>
                              </div>
                              <a href="services.html" class="theme-btn btn-style-one">Read More </a>
                            </div>
                          </div>

                          <!-- Image Column -->
                          <div class="image-column col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-column">
                              <div class="image">
                                <img src="../../src/assets/img/resource/service-7.jpg" alt="" />
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <!-- Tab -->
                    <div class="tab" id="prod-brake">
                      <div class="content">
                        <div class="row clearfix">

                          <!-- Content Column -->
                          <div class="content-column col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-column">
                              <h2>General Mintenace</h2>
                              <div class="text">Volutpat sodales, mauris erat rutrum deserunt sed pharetra mollis, nunc leo eu maecenas nascetur duis viverra nam vitae</div>
                              <div class="row clearfix">
                                <div class="column col-lg-6 col-md-6 col-sm-12">
                                  <ul class="list-style-three">
                                    <li>Oil Changes</li>
                                    <li>Fluid Services</li>
                                  </ul>
                                </div>
                                <div class="column col-lg-6 col-md-6 col-sm-12">
                                  <ul class="list-style-three">
                                    <li>Filter Replacement</li>
                                    <li>Diesel Auto Repair</li>
                                  </ul>
                                </div>
                              </div>
                              <a href="services.html" class="theme-btn btn-style-one">Read More </a>
                            </div>
                          </div>

                          <!-- Image Column -->
                          <div class="image-column col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-column">
                              <div class="image">
                                <img src="../../src/assets/img/resource/service-7.jpg" alt="" />
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <!-- Tab -->
                    <div class="tab" id="prod-repair">
                      <div class="content">
                        <div class="row clearfix">

                          <!-- Content Column -->
                          <div class="content-column col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-column">
                              <h2>General Mintenace</h2>
                              <div class="text">Volutpat sodales, mauris erat rutrum deserunt sed pharetra mollis, nunc leo eu maecenas nascetur duis viverra nam vitae</div>
                              <div class="row clearfix">
                                <div class="column col-lg-6 col-md-6 col-sm-12">
                                  <ul class="list-style-three">
                                    <li>Oil Changes</li>
                                    <li>Fluid Services</li>
                                  </ul>
                                </div>
                                <div class="column col-lg-6 col-md-6 col-sm-12">
                                  <ul class="list-style-three">
                                    <li>Filter Replacement</li>
                                    <li>Diesel Auto Repair</li>
                                  </ul>
                                </div>
                              </div>
                              <a href="services.html" class="theme-btn btn-style-one">Read More </a>
                            </div>
                          </div>

                          <!-- Image Column -->
                          <div class="image-column col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-column">
                              <div class="image">
                                <img src="../../src/assets/img/resource/service-7.jpg" alt="" />
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </section>
      <!-- End Updated Services Section -->

      <!-- Updated Renovation Section -->
      <section class="updated-renovation-section" style="background-image:url(../../src/assets/img/background/10.jpg);">
        <div class="auto-container">
          <!-- Upper Section -->
          <div class="upper-section">
            <div class="row clearfix">

              <!-- Image Column -->
              <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                  <h2>You Need<span>RENOVATION?</span></h2>
                  <div class="image">
                    <img src="../../src/assets/img/resource/car-image-3.png" alt="" />
                  </div>
                </div>
              </div>

              <!-- Content Column -->
              <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                  <div class="left-line"></div>
                  <!-- Updated Feature Block -->
                  <div class="updated-feature-block">
                    <div class="block-inner">
                      <div class="icon fas fa-chart-line"></div>
                      <h3>25 YEARS REPUTATION</h3>
                      <div class="text">Phasellus convallis risus sit amet cursus vestibulum. Vestibulum vitae tristique felis. </div>
                    </div>
                  </div>

                  <!-- Updated Feature Block -->
                  <div class="updated-feature-block">
                    <div class="block-inner">
                      <div class="icon fas fa-cogs"></div>
                      <h3>FULL INTEGRITY</h3>
                      <div class="text">Phasellus convallis risus sit amet cursus vestibulum. Vestibulum vitae tristique felis. </div>
                    </div>
                  </div>

                  <!-- Updated Feature Block -->
                  <div class="updated-feature-block">
                    <div class="block-inner">
                      <div class="icon far fa-clock"></div>
                      <h3>QUICK & EFFICIENT</h3>
                      <div class="text">Phasellus convallis risus sit amet cursus vestibulum. Vestibulum vitae tristique felis. </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>

          <!-- Lower Section -->
          <div class="lower-section">

            <!-- Fact counter -->
            <section class="fun-fact-section-two">

              <div class="row clearfix">
                <!-- Count box -->
                <div class="count-box col-lg-3 col-md-6 col-sm-12">
                  <div class="inner-box">
                    <div class="icon-box"><span class="flaticon-boy-broad-smile"></span></div>
                    <span class="count-text" data-speed="2000" data-stop="6370">0</span>
                    <div class="counter-title"><h5>Happy Client</h5></div>
                  </div>
                </div>

                <!-- Count box -->
                <div class="count-box col-lg-3 col-md-6 col-sm-12">
                  <div class="inner-box">
                    <div class="icon-box"><span class="flaticon-transport"></span></div>
                    <span class="count-text" data-speed="2000" data-stop="5504">0</span>
                    <div class="counter-title"><h5>SErvice Done</h5></div>
                  </div>
                </div>

                <!-- Count box -->
                <div class="count-box col-lg-3 col-md-6 col-sm-12">
                  <div class="inner-box">
                    <div class="icon-box"><span class="flaticon-avatar-1"></span></div>
                    <span class="count-text" data-speed="2000" data-stop="504">0</span>
                    <div class="counter-title"><h5>Total Expert</h5></div>
                  </div>
                </div>

                <!-- Count box -->
                <div class="count-box col-lg-3 col-md-6 col-sm-12">
                  <div class="inner-box">
                    <div class="icon-box"><span class="flaticon-car-1"></span></div>
                    <span class="count-text" data-speed="2000" data-stop="7704">0</span>
                    <div class="counter-title"><h5>Total Service</h5></div>
                  </div>
                </div>
              </div>

            </section>
            <!-- End Fact counter -->

          </div>

        </div>
      </section>
      <!-- End Updated Renovation Section -->

      <!-- Updated Work Section -->
      <section class="updated-work-section">
        <div class="auto-container">
          <!-- Sec Title -->
          <div class="sec-title text-center">
            <h2>Our Latest Works</h2>
            <div class="separator"><span class="flaticon-settings-2"></span></div>
          </div>


          <!-- Testimonial Outer -->
          <div class="testimonial-outer">
            <a href="project.html" class="view-all">View all projects</a>
            <!--Client Testimonial Carousel-->
            <div class="client-testimonial-carousel owl-carousel owl-theme">

              <!-- Updated Work Block -->
              <div class="updated-work-block">
                <div class="inner-block">
                  <div class="clearfix">
                    <!-- Image Column -->
                    <div class="image-column col-lg-7 col-md-12 col-sm-12">
                      <div class="inner-column">
                        <div class="image">
                          <img src="../../src/assets/img/resource/work-1.jpg" alt="" />
                          <a href="../../src/assets/img/resource/work-1.jpg" data-fancybox="images" data-caption="" class="popop-boxed"><span class="icon fa fa-search"></span></a>
                          <div class="content">
                            <h3><a href="project-detail.html">Air Filter repair</a></h3>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Content Column -->
                    <div class="content-column col-lg-5 col-md-12 col-sm-12">
                      <div class="inner-column">
                        <div class="text">
                          <p>How to pursue pleasure rationally thats encounter consequences that extremely painful. Nor again is there anyones who loves or pursues or ut desires obtains pain of itself, because. </p>
                          <p>A lot of auto repair customerss questions the importance of wheel alignment. Is it really necessary? Yes, it is. Nor again is there anyones .</p>
                        </div>
                        <a href="project-detail.html" class="theme-btn btn-style-one">Read More</a>
                      </div>
                    </div>
                  </div>
                  <div class="side-icon flaticon-avatar-1"></div>
                </div>
              </div>

              <!-- Updated Work Block -->
              <div class="updated-work-block">
                <div class="inner-block">
                  <div class="clearfix">
                    <!-- Image Column -->
                    <div class="image-column col-lg-7 col-md-12 col-sm-12">
                      <div class="inner-column">
                        <div class="image">
                          <img src="../../src/assets/img/resource/work-1.jpg" alt="" />
                          <a href="../../src/assets/img/resource/work-1.jpg" data-fancybox="images" data-caption="" class="popop-boxed"><span class="icon fa fa-search"></span></a>
                          <div class="content">
                            <h3><a href="project-detail.html">Air Filter repair</a></h3>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Content Column -->
                    <div class="content-column col-lg-5 col-md-12 col-sm-12">
                      <div class="inner-column">
                        <div class="text">
                          <p>How to pursue pleasure rationally thats encounter consequences that extremely painful. Nor again is there anyones who loves or pursues or ut desires obtains pain of itself, because. </p>
                          <p>A lot of auto repair customerss questions the importance of wheel alignment. Is it really necessary? Yes, it is. Nor again is there anyones .</p>
                        </div>
                        <a href="project-detail.html" class="theme-btn btn-style-one">Read More</a>
                      </div>
                    </div>
                  </div>
                  <div class="side-icon flaticon-avatar-1"></div>
                </div>
              </div>

              <!-- Updated Work Block -->
              <div class="updated-work-block">
                <div class="inner-block">
                  <div class="clearfix">
                    <!-- Image Column -->
                    <div class="image-column col-lg-7 col-md-12 col-sm-12">
                      <div class="inner-column">
                        <div class="image">
                          <img src="../../src/assets/img/resource/work-1.jpg" alt="" />
                          <a href="../../src/assets/img/resource/work-1.jpg" data-fancybox="images" data-caption="" class="popop-boxed"><span class="icon fa fa-search"></span></a>
                          <div class="content">
                            <h3><a href="project-detail.html">Air Filter repair</a></h3>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Content Column -->
                    <div class="content-column col-lg-5 col-md-12 col-sm-12">
                      <div class="inner-column">
                        <div class="text">
                          <p>How to pursue pleasure rationally thats encounter consequences that extremely painful. Nor again is there anyones who loves or pursues or ut desires obtains pain of itself, because. </p>
                          <p>A lot of auto repair customerss questions the importance of wheel alignment. Is it really necessary? Yes, it is. Nor again is there anyones .</p>
                        </div>
                        <a href="project-detail.html" class="theme-btn btn-style-one">Read More</a>
                      </div>
                    </div>
                  </div>
                  <div class="side-icon flaticon-avatar-1"></div>
                </div>
              </div>

              <!-- Updated Work Block -->
              <div class="updated-work-block">
                <div class="inner-block">
                  <div class="clearfix">
                    <!-- Image Column -->
                    <div class="image-column col-lg-7 col-md-12 col-sm-12">
                      <div class="inner-column">
                        <div class="image">
                          <img src="../../src/assets/img/resource/work-1.jpg" alt="" />
                          <a href="../../src/assets/img/resource/work-1.jpg" data-fancybox="images" data-caption="" class="popop-boxed"><span class="icon fa fa-search"></span></a>
                          <div class="content">
                            <h3><a href="project-detail.html">Air Filter repair</a></h3>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Content Column -->
                    <div class="content-column col-lg-5 col-md-12 col-sm-12">
                      <div class="inner-column">
                        <div class="text">
                          <p>How to pursue pleasure rationally thats encounter consequences that extremely painful. Nor again is there anyones who loves or pursues or ut desires obtains pain of itself, because. </p>
                          <p>A lot of auto repair customerss questions the importance of wheel alignment. Is it really necessary? Yes, it is. Nor again is there anyones .</p>
                        </div>
                        <a href="project-detail.html" class="theme-btn btn-style-one">Read More</a>
                      </div>
                    </div>
                  </div>
                  <div class="side-icon flaticon-avatar-1"></div>
                </div>
              </div>

              <!-- Updated Work Block -->
              <div class="updated-work-block">
                <div class="inner-block">
                  <div class="clearfix">
                    <!-- Image Column -->
                    <div class="image-column col-lg-7 col-md-12 col-sm-12">
                      <div class="inner-column">
                        <div class="image">
                          <img src="../../src/assets/img/resource/work-1.jpg" alt="" />
                          <a href="../../src/assets/img/resource/work-1.jpg" data-fancybox="images" data-caption="" class="popop-boxed"><span class="icon fa fa-search"></span></a>
                          <div class="content">
                            <h3><a href="project-detail.html">Air Filter repair</a></h3>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Content Column -->
                    <div class="content-column col-lg-5 col-md-12 col-sm-12">
                      <div class="inner-column">
                        <div class="text">
                          <p>How to pursue pleasure rationally thats encounter consequences that extremely painful. Nor again is there anyones who loves or pursues or ut desires obtains pain of itself, because. </p>
                          <p>A lot of auto repair customerss questions the importance of wheel alignment. Is it really necessary? Yes, it is. Nor again is there anyones .</p>
                        </div>
                        <a href="project-detail.html" class="theme-btn btn-style-one">Read More</a>
                      </div>
                    </div>
                  </div>
                  <div class="side-icon flaticon-avatar-1"></div>
                </div>
              </div>

              <!-- Updated Work Block -->
              <div class="updated-work-block">
                <div class="inner-block">
                  <div class="clearfix">
                    <!-- Image Column -->
                    <div class="image-column col-lg-7 col-md-12 col-sm-12">
                      <div class="inner-column">
                        <div class="image">
                          <img src="../../src/assets/img/resource/work-1.jpg" alt="" />
                          <a href="../../src/assets/img/resource/work-1.jpg" data-fancybox="images" data-caption="" class="popop-boxed"><span class="icon fa fa-search"></span></a>
                          <div class="content">
                            <h3><a href="project-detail.html">Air Filter repair</a></h3>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Content Column -->
                    <div class="content-column col-lg-5 col-md-12 col-sm-12">
                      <div class="inner-column">
                        <div class="text">
                          <p>How to pursue pleasure rationally thats encounter consequences that extremely painful. Nor again is there anyones who loves or pursues or ut desires obtains pain of itself, because. </p>
                          <p>A lot of auto repair customerss questions the importance of wheel alignment. Is it really necessary? Yes, it is. Nor again is there anyones .</p>
                        </div>
                        <a href="project-detail.html" class="theme-btn btn-style-one">Read More</a>
                      </div>
                    </div>
                  </div>
                  <div class="side-icon flaticon-avatar-1"></div>
                </div>
              </div>

            </div>

            <!--Product Thumbs Carousel-->
            <div class="client-thumb-outer">
              <div class="client-thumbs-carousel owl-carousel owl-theme">

                <div class="thumb-item">
                  <figure class="thumb-box"><img src="../../src/assets/img/resource/work-thumb-1.jpg" alt=""></figure>
                </div>
                <div class="thumb-item">
                  <figure class="thumb-box"><img src="../../src/assets/img/resource/work-thumb-2.jpg" alt=""></figure>
                </div>
                <div class="thumb-item">
                  <figure class="thumb-box"><img src="../../src/assets/img/resource/work-thumb-3.jpg" alt=""></figure>
                </div>
                <div class="thumb-item">
                  <figure class="thumb-box"><img src="../../src/assets/img/resource/work-thumb-1.jpg" alt=""></figure>
                </div>
                <div class="thumb-item">
                  <figure class="thumb-box"><img src="../../src/assets/img/resource/work-thumb-2.jpg" alt=""></figure>
                </div>
                <div class="thumb-item">
                  <figure class="thumb-box"><img src="../../src/assets/img/resource/work-thumb-3.jpg" alt=""></figure>
                </div>
              </div>
            </div>

          </div>

        </div>
      </section>
      <!-- End Updated Work Section -->

      <!-- Updated Contact Section -->
      <section class="updated-contact-section">
        <div class="auto-container">
          <div class="inner-container">
            <div class="row clearfix">

              <!-- Text Column -->
              <div class="text-column col-lg-8 col-md-12 col-sm-12">
                <div class="inner-column">
                  <div class="text">We provide them access to customers, schedule flexibility, and high-quality parts</div>
                </div>
              </div>

              <!-- Button Column -->
              <div class="button-column col-lg-4 col-md-12 col-sm-12">
                <div class="inner-column">
                  <a href="contact.html" class="theme-btn contact-btn">Contact Us</a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
      <!-- End Updated Contact Section -->

      <!-- Updated Testimonial Section -->
      <section class="updated-testimonial-section">
        <div class="auto-container">
          <div class="row clearfix">

            <!-- Title Column -->
            <div class="title-column col-lg-3 col-md-12 col-sm-12">
              <div class="inner-column">
                <div class="quote-icon fas fa-quote-left"></div>
                <!-- Sec Title -->
                <div class="sec-title">
                  <h2>What Client says</h2>
                  <div class="separator"><span class="flaticon-settings-2"></span></div>
                </div>
                <div class="text">Many of our projects cannot be featured in this section due to the Security levels of the space. Maman's team is all background checked,.</div>
              </div>
            </div>

            <!-- Testimonial Column -->
            <div class="testimonial-column col-lg-9 col-md-12 col-sm-12">
              <div class="inner-column">
                <div class="two-item-carousel owl-carousel owl-theme">

                  <!-- Testimonial Block Two -->
                  <div class="updated-testimonial-block">
                    <div class="inner-box">
                      <div class="text">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot.</div>
                      <div class="author-info">
                        <div class="info-inner">
                          <div class="author-image">
                            <img src="../../src/assets/img/resource/author-1.jpg" alt="" />
                          </div>
                          <h6>Aaron Finch</h6>
                          <div class="location">New York</div>
                          <div class="rating">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Testimonial Block Two -->
                  <div class="updated-testimonial-block">
                    <div class="inner-box">
                      <div class="text">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot.</div>
                      <div class="author-info">
                        <div class="info-inner">
                          <div class="author-image">
                            <img src="../../src/assets/img/resource/author-1.jpg" alt="" />
                          </div>
                          <h6>Aaron Finch</h6>
                          <div class="location">New York</div>
                          <div class="rating">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Testimonial Block Two -->
                  <div class="updated-testimonial-block">
                    <div class="inner-box">
                      <div class="text">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot.</div>
                      <div class="author-info">
                        <div class="info-inner">
                          <div class="author-image">
                            <img src="../../src/assets/img/resource/author-1.jpg" alt="" />
                          </div>
                          <h6>Aaron Finch</h6>
                          <div class="location">New York</div>
                          <div class="rating">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Testimonial Block Two -->
                  <div class="updated-testimonial-block">
                    <div class="inner-box">
                      <div class="text">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot.</div>
                      <div class="author-info">
                        <div class="info-inner">
                          <div class="author-image">
                            <img src="../../src/assets/img/resource/author-1.jpg" alt="" />
                          </div>
                          <h6>Aaron Finch</h6>
                          <div class="location">New York</div>
                          <div class="rating">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Testimonial Block Two -->
                  <div class="updated-testimonial-block">
                    <div class="inner-box">
                      <div class="text">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot.</div>
                      <div class="author-info">
                        <div class="info-inner">
                          <div class="author-image">
                            <img src="../../src/assets/img/resource/author-1.jpg" alt="" />
                          </div>
                          <h6>Aaron Finch</h6>
                          <div class="location">New York</div>
                          <div class="rating">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Testimonial Block Two -->
                  <div class="updated-testimonial-block">
                    <div class="inner-box">
                      <div class="text">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot.</div>
                      <div class="author-info">
                        <div class="info-inner">
                          <div class="author-image">
                            <img src="../../src/assets/img/resource/author-1.jpg" alt="" />
                          </div>
                          <h6>Aaron Finch</h6>
                          <div class="location">New York</div>
                          <div class="rating">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
      <!-- End Updated Testimonial Section -->

      <!-- Updated Video Section -->
      <section class="updated-video-section">
        <div class="auto-container">
          <div class="row clearfix">

            <!-- Blocks Column -->
            <div class="blocks-column col-lg-6 col-md-12 col-sm-12">
              <div class="inner-column">

                <!-- Updated Feature Block Two -->
                <div class="updated-feature-block-two">
                  <div class="inner-block">
                    <div class="content">
                      <div class="post-date">2 year ago  /  Leave a comment</div>
                      <h3><a href="#">Ullamcorper amet feugiat wisi id metus, ultrices mauris in mattis</a></h3>
                    </div>
                  </div>
                </div>

                <!-- Updated Feature Block Two -->
                <div class="updated-feature-block-two">
                  <div class="inner-block">
                    <div class="content">
                      <div class="post-date">2 year ago  /  Leave a comment</div>
                      <h3><a href="#">Ullamcorper amet feugiat wisi id metus, ultrices mauris in mattis</a></h3>
                    </div>
                  </div>
                </div>

                <!-- Updated Feature Block Two -->
                <div class="updated-feature-block-two">
                  <div class="inner-block">
                    <div class="content">
                      <div class="post-date">2 year ago  /  Leave a comment</div>
                      <h3><a href="#">Ullamcorper amet feugiat wisi id metus, ultrices mauris in mattis</a></h3>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <!-- Video Column -->
            <div class="video-column col-lg-6 col-md-12 col-sm-12">
              <div class="inner-column">
                <!--Video Box-->
                <div class="video-box">
                  <figure class="image">
                    <img src="../../src/assets/img/resource/video-img-3.jpg" alt="">
                  </figure>
                  <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="fa fa-play play-now"><i class="ripple"></i></span></a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
      <!-- End Updated Video Section -->

      <!-- Updated Price Section -->
      <section class="updated-price-section">
        <div class="auto-container">
          <!-- Sec Title -->
          <div class="sec-title text-center">
            <h2>Our Price Plan</h2>
            <div class="separator"><span class="flaticon-settings-2"></span></div>
          </div>
          <!--Pricing Tabs-->
          <div class="pricing-tabs tabs-box clearfix">
            <!--Tabs Container-->
            <div class="tabs-content">

              <!--Tab / Active Tab-->
              <div class="tab active-tab" id="monthly">
                <div class="content">
                  <div class="row">

                    <!-- Pricing Table -->
                    <div class="updated-pricing-table col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                        <div class="title">Silver Package</div>
                        <div class="price-outer">
                          <div class="price-box">
                            <div class="price">$ 98.88</div>
                          </div>
                        </div>
                        <div class="table-content">
                          <ul>
                            <li><span>Conventional Oil Change</span></li>
                            <li><span>Fuel System Cleaning</span></li>
                            <li><span>Coolant Exchange</span></li>
                            <li><span>Transmission Fluid Service</span></li>
                            <li><span>Battery Check & Tire Rotation</span></li>
                            <li><span>Visual Brake Inspection</span></li>
                          </ul>
                        </div>
                        <div class="table-footer">
                          <a href="#" class="theme-btn btn-style-one">Booking Now</a>
                        </div>
                      </div>
                    </div>

                    <!-- Pricing Table -->
                    <div class="updated-pricing-table active col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                        <div class="title">Platinum Package</div>
                        <div class="price-outer">
                          <div class="price-box">
                            <div class="price">$ 244.87</div>
                          </div>
                        </div>
                        <div class="table-content">
                          <ul>
                            <li><span>Conventional Oil Change</span></li>
                            <li><span>Fuel System Cleaning</span></li>
                            <li><span>Coolant Exchange</span></li>
                            <li><span>Transmission Fluid Service</span></li>
                            <li><span>Battery Check & Tire Rotation</span></li>
                            <li><span>Visual Brake Inspection</span></li>
                          </ul>
                        </div>
                        <div class="table-footer">
                          <a href="#" class="theme-btn btn-style-one">Booking Now</a>
                        </div>
                      </div>
                    </div>

                    <!-- Pricing Table -->
                    <div class="updated-pricing-table col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                        <div class="title">Gold Package</div>
                        <div class="price-outer">
                          <div class="price-box">
                            <div class="price">$ 163.98</div>
                          </div>
                        </div>
                        <div class="table-content">
                          <ul>
                            <li><span>Conventional Oil Change</span></li>
                            <li><span>Fuel System Cleaning</span></li>
                            <li><span>Coolant Exchange</span></li>
                            <li><span>Transmission Fluid Service</span></li>
                            <li><span>Battery Check & Tire Rotation</span></li>
                            <li><span>Visual Brake Inspection</span></li>
                          </ul>
                        </div>
                        <div class="table-footer">
                          <a href="#" class="theme-btn btn-style-one">Booking Now</a>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <!--Tab-->
              <div class="tab" id="annual">
                <div class="content">
                  <div class="row">

                    <!-- Pricing Table -->
                    <div class="updated-pricing-table col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                        <div class="title">Silver Package</div>
                        <div class="price-outer">
                          <div class="price-box">
                            <div class="price">$ 98.88</div>
                          </div>
                        </div>
                        <div class="table-content">
                          <ul>
                            <li><span>Conventional Oil Change</span></li>
                            <li><span>Fuel System Cleaning</span></li>
                            <li><span>Coolant Exchange</span></li>
                            <li><span>Transmission Fluid Service</span></li>
                            <li><span>Battery Check & Tire Rotation</span></li>
                            <li><span>Visual Brake Inspection</span></li>
                          </ul>
                        </div>
                        <div class="table-footer">
                          <a href="#" class="theme-btn btn-style-one">Booking Now</a>
                        </div>
                      </div>
                    </div>

                    <!-- Pricing Table -->
                    <div class="updated-pricing-table col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                        <div class="title">Platinum Package</div>
                        <div class="price-outer">
                          <div class="price-box">
                            <div class="price">$ 244.87</div>
                          </div>
                        </div>
                        <div class="table-content">
                          <ul>
                            <li><span>Conventional Oil Change</span></li>
                            <li><span>Fuel System Cleaning</span></li>
                            <li><span>Coolant Exchange</span></li>
                            <li><span>Transmission Fluid Service</span></li>
                            <li><span>Battery Check & Tire Rotation</span></li>
                            <li><span>Visual Brake Inspection</span></li>
                          </ul>
                        </div>
                        <div class="table-footer">
                          <a href="#" class="theme-btn btn-style-one">Booking Now</a>
                        </div>
                      </div>
                    </div>

                    <!-- Pricing Table -->
                    <div class="updated-pricing-table col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                        <div class="title">Gold Package</div>
                        <div class="price-outer">
                          <div class="price-box">
                            <div class="price">$ 163.98</div>
                          </div>
                        </div>
                        <div class="table-content">
                          <ul>
                            <li><span>Conventional Oil Change</span></li>
                            <li><span>Fuel System Cleaning</span></li>
                            <li><span>Coolant Exchange</span></li>
                            <li><span>Transmission Fluid Service</span></li>
                            <li><span>Battery Check & Tire Rotation</span></li>
                            <li><span>Visual Brake Inspection</span></li>
                          </ul>
                        </div>
                        <div class="table-footer">
                          <a href="#" class="theme-btn btn-style-one">Booking Now</a>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>

            <!--Tab Btns-->
            <div class="tab-buttons">
              <ul class="tab-btns clearfix">
                <li data-tab="#monthly" class="tab-btn active-btn">Monthly</li>
                <li data-tab="#annual" class="tab-btn">Yearly</li>
              </ul>
            </div>

          </div>

        </div>
      </section>
      <!-- End Updated Price Section -->

      <!-- Updated Team Section -->
      <section class="updated-team-section">
        <div class="auto-container">
          <!-- Sec Title -->
          <div class="sec-title light text-center">
            <h2>Professional Worker</h2>
            <div class="separator"><span class="flaticon-settings-2"></span></div>
          </div>
          <div class="three-item-carousel owl-carousel owl-theme">

            <!-- Updated Price Block -->
            <div class="updated-price-block">
              <div class="inner-box">
                <div class="image">
                  <a href="team.html"><img src="../../src/assets/img/resource/team-12.jpg" alt="" /></a>
                </div>
                <div class="lower-content">
                  <h3><a href="team.html">Christian Perry</a></h3>
                  <div class="clearfix">
                    <div class="pull-left">
                      <div class="category">Care Marketing</div>
                    </div>
                    <div class="pull-right">
                      <ul class="social-box">
                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Updated Price Block -->
            <div class="updated-price-block">
              <div class="inner-box">
                <div class="image">
                  <a href="team.html"><img src="../../src/assets/img/resource/team-13.jpg" alt="" /></a>
                </div>
                <div class="lower-content">
                  <h3><a href="team.html">Lita Monara</a></h3>
                  <div class="clearfix">
                    <div class="pull-left">
                      <div class="category">Care Marketing</div>
                    </div>
                    <div class="pull-right">
                      <ul class="social-box">
                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Updated Price Block -->
            <div class="updated-price-block">
              <div class="inner-box">
                <div class="image">
                  <a href="team.html"><img src="../../src/assets/img/resource/team-14.jpg" alt="" /></a>
                </div>
                <div class="lower-content">
                  <h3><a href="team.html">Jacksone mora</a></h3>
                  <div class="clearfix">
                    <div class="pull-left">
                      <div class="category">Care Marketing</div>
                    </div>
                    <div class="pull-right">
                      <ul class="social-box">
                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Updated Price Block -->
            <div class="updated-price-block">
              <div class="inner-box">
                <div class="image">
                  <a href="team.html"><img src="../../src/assets/img/resource/team-12.jpg" alt="" /></a>
                </div>
                <div class="lower-content">
                  <h3><a href="team.html">Christian Perry</a></h3>
                  <div class="clearfix">
                    <div class="pull-left">
                      <div class="category">Care Marketing</div>
                    </div>
                    <div class="pull-right">
                      <ul class="social-box">
                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Updated Price Block -->
            <div class="updated-price-block">
              <div class="inner-box">
                <div class="image">
                  <a href="team.html"><img src="../../src/assets/img/resource/team-13.jpg" alt="" /></a>
                </div>
                <div class="lower-content">
                  <h3><a href="team.html">Lita Monara</a></h3>
                  <div class="clearfix">
                    <div class="pull-left">
                      <div class="category">Care Marketing</div>
                    </div>
                    <div class="pull-right">
                      <ul class="social-box">
                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Updated Price Block -->
            <div class="updated-price-block">
              <div class="inner-box">
                <div class="image">
                  <a href="team.html"><img src="../../src/assets/img/resource/team-14.jpg" alt="" /></a>
                </div>
                <div class="lower-content">
                  <h3><a href="team.html">Jacksone mora</a></h3>
                  <div class="clearfix">
                    <div class="pull-left">
                      <div class="category">Care Marketing</div>
                    </div>
                    <div class="pull-right">
                      <ul class="social-box">
                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Updated Price Block -->
            <div class="updated-price-block">
              <div class="inner-box">
                <div class="image">
                  <a href="team.html"><img src="../../src/assets/img/resource/team-12.jpg" alt="" /></a>
                </div>
                <div class="lower-content">
                  <h3><a href="team.html">Christian Perry</a></h3>
                  <div class="clearfix">
                    <div class="pull-left">
                      <div class="category">Care Marketing</div>
                    </div>
                    <div class="pull-right">
                      <ul class="social-box">
                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Updated Price Block -->
            <div class="updated-price-block">
              <div class="inner-box">
                <div class="image">
                  <a href="team.html"><img src="../../src/assets/img/resource/team-13.jpg" alt="" /></a>
                </div>
                <div class="lower-content">
                  <h3><a href="team.html">Lita Monara</a></h3>
                  <div class="clearfix">
                    <div class="pull-left">
                      <div class="category">Care Marketing</div>
                    </div>
                    <div class="pull-right">
                      <ul class="social-box">
                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Updated Price Block -->
            <div class="updated-price-block">
              <div class="inner-box">
                <div class="image">
                  <a href="team.html"><img src="../../src/assets/img/resource/team-14.jpg" alt="" /></a>
                </div>
                <div class="lower-content">
                  <h3><a href="team.html">Jacksone mora</a></h3>
                  <div class="clearfix">
                    <div class="pull-left">
                      <div class="category">Care Marketing</div>
                    </div>
                    <div class="pull-right">
                      <ul class="social-box">
                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>

      <!-- Updated News Section -->
      <section class="updated-news-section">
        <div class="auto-container">
          <!-- Sec Title -->
          <div class="sec-title text-center">
            <h2>Latest News & Artical</h2>
            <div class="separator"><span class="flaticon-settings-2"></span></div>
          </div>
          <div class="row clearfix">

            <!-- Column -->
            <div class="column col-lg-6 col-md-12 col-sm-12">

              <!-- Updated News Block -->
              <div class="updated-news-block">
                <div class="inner-box">
                  <div class="image">
                    <a href="blog-detail.html"><img src="../../src/assets/img/resource/news-5.jpg" alt="" /></a>
                    <div class="overlay-box">
                      <h3><a href="blog-detail.html">Tips for Car <br> Maintanence</a></h3>
                      <div class="comments"><span class="icon far fa-heart"></span> 03</div>
                      <div class="post-date">17 October</div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Updated News Block -->
              <div class="updated-news-block">
                <div class="inner-box">
                  <div class="image">
                    <a href="blog-detail.html"><img src="../../src/assets/img/resource/news-6.jpg" alt="" /></a>
                    <div class="overlay-box">
                      <h3><a href="blog-detail.html">How To Save <br> Your Car Fals</a></h3>
                      <div class="comments"><span class="icon far fa-heart"></span> 02</div>
                      <div class="post-date">18  November</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- Column -->
            <div class="column col-lg-6 col-md-12 col-sm-12">

              <!-- Updated News Block Two -->
              <div class="updated-news-block-two">
                <div class="inner-box">
                  <div class="image">
                    <a href="blog-detail.html"><img src="../../src/assets/img/resource/news-7.jpg" alt="" /></a>
                    <div class="overlay-box">
                      <div class="overlay-inner">
                        <div class="post-date">17 October</div>
                        <h3><a href="blog-detail.html">We have vehicle <br> with safety checks <br> and licensed</a></h3>
                        <div class="text">Edipisicing eiusmod tempor incididunt labore dolore magna aliqa ust enim ad minim veniams quis nostrud citation ullam co laboris nisi ut aliquip.</div>
                        <a href="blog-detail.html" class="read-more">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </section>
      <!-- End Updated News Section -->

      <!-- Updated Clients Section -->
      <section class="updated-clients-section">
        <div class="auto-container">
          <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
              <li class="slide-item"><figure class="image-box"><a href="#"><img src="../../src/assets/img/clients/1.png" alt=""></a></figure></li>
              <li class="slide-item"><figure class="image-box"><a href="#"><img src="../../src/assets/img/clients/2.png" alt=""></a></figure></li>
              <li class="slide-item"><figure class="image-box"><a href="#"><img src="../../src/assets/img/clients/3.png" alt=""></a></figure></li>
              <li class="slide-item"><figure class="image-box"><a href="#"><img src="../../src/assets/img/clients/4.png" alt=""></a></figure></li>
              <li class="slide-item"><figure class="image-box"><a href="#"><img src="../../src/assets/img/clients/5.png" alt=""></a></figure></li>
              <li class="slide-item"><figure class="image-box"><a href="#"><img src="../../src/assets/img/clients/1.png" alt=""></a></figure></li>
              <li class="slide-item"><figure class="image-box"><a href="#"><img src="../../src/assets/img/clients/2.png" alt=""></a></figure></li>
              <li class="slide-item"><figure class="image-box"><a href="#"><img src="../../src/assets/img/clients/3.png" alt=""></a></figure></li>
              <li class="slide-item"><figure class="image-box"><a href="#"><img src="../../src/assets/img/clients/4.png" alt=""></a></figure></li>
              <li class="slide-item"><figure class="image-box"><a href="#"><img src="../../src/assets/img/clients/5.png" alt=""></a></figure></li>
            </ul>
          </div>
        </div>
      </section>
      <!--End Updated Clients Section-->

      <!-- Footer Style Two -->
      <footer class="footer-style-two" style="background-image: url(../../src/assets/img/background/11.jpg);">
        <div class="auto-container">

          <!--Widgets Section-->
          <div class="widgets-section">
            <div class="row clearfix">

              <!--Footer Column-->
              <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                <div class="footer-widget info-widget">
                  <div class="widget-content">
                    <h2>Come Visit Us</h2>
                    <div class="text">Let’s start talking about your projects or idea and find <br> out how we can help your auto care</div>
                    <ul class="info-list">
                      <li><span>Address: </span>60 Model Town. California, Auto Repair 00000</li>
                      <li><span>Phone: </span>+00 000 0000 00</li>
                      <li><span>E-mail: </span> info@motorexpert.com</li>
                    </ul>
                  </div>
                </div>
              </div>

              <!--Footer Column-->
              <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                <div class="footer-widget about-widget">
                  <div class="widget-content">
                    <h2>More About Us</h2>
                    <div class="text">How to pursue pleasure rationally thats encounter consequences that extremely painful. Nor again is there anyones who loves or pursues or ut desires obtains pain of itself, because.</div>
                    <ul class="social-icon">
                      <li class="follow">Follow Us:</li>
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                      <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                      <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <!--Footer Column-->
              <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                <div class="footer-widget gallery-widget">
                  <div class="widget-content">
                    <h2>Fixer Feed</h2>
                    <div class="outer clearfix">
                      <figure class="image">
                        <a href="../../src/assets/img/resource/feature-1.jpg" class="lightbox-image" title="Image Title Here"><img src="../../src/assets/img/resource/insta-1.jpg" alt=""></a>
                      </figure>

                      <figure class="image">
                        <a href="../../src/assets/img/resource/feature-2.jpg" class="lightbox-image" title="Image Title Here"><img src="../../src/assets/img/resource/insta-2.jpg" alt=""></a>
                      </figure>

                      <figure class="image">
                        <a href="../../src/assets/img/resource/feature-3.jpg" class="lightbox-image" title="Image Title Here"><img src="../../src/assets/img/resource/insta-3.jpg" alt=""></a>
                      </figure>

                      <figure class="image">
                        <a href="../../src/assets/img/resource/feature-4.jpg" class="lightbox-image" title="Image Title Here"><img src="../../src/assets/img/resource/insta-4.jpg" alt=""></a>
                      </figure>

                      <figure class="image">
                        <a href="../../src/assets/img/resource/news-1.jpg" class="lightbox-image" title="Image Title Here"><img src="../../src/assets/img/resource/insta-5.jpg" alt=""></a>
                      </figure>

                      <figure class="image">
                        <a href="../../src/assets/img/resource/news-2.jpg" class="lightbox-image" title="Image Title Here"><img src="../../src/assets/img/resource/insta-6.jpg" alt=""></a>
                      </figure>

                      <figure class="image">
                        <a href="../../src/assets/img/resource/feature-1.jpg" class="lightbox-image" title="Image Title Here"><img src="../../src/assets/img/resource/insta-1.jpg" alt=""></a>
                      </figure>

                      <figure class="image">
                        <a href="../../src/assets/img/resource/feature-2.jpg" class="lightbox-image" title="Image Title Here"><img src="../../src/assets/img/resource/insta-2.jpg" alt=""></a>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <!-- Lower Content -->
          <div class="lower-content">
            <h2>Our News Update</h2>
            <div class="text">if do you want to our news update then you Subscribe to the news and get it now.</div>
            <div class="row clearfix">

              <!-- Email Column -->
              <div class="email-column col-lg-9 col-md-12 col-sm-12">
                <div class="inner-column">
                  <!-- Subscribe Form -->
                  <div class="subscribe-form">
                    <form method="post" action="contact.html">
                      <div class="form-group">
                        <input type="email" name="email" value="" placeholder="Enter Your Email Address" required>
                        <button type="submit" class="theme-btn btn-style-one"><span class="txt">Submit Now</span></button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <!-- Logo Column -->
              <div class="logo-column col-lg-3 col-md-12 col-sm-12">
                <div class="inner-column">
                  <div class="logo">
                    <a href="index.html"><img src="../../src/assets/img/logo-4.png" alt="" /></a>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <!-- Footer Bottom -->
        <div class="footer-bottom">
          <div class="auto-container">
            <div class="copyright">Copyrights &copy; 2019 All Rights Reserved. by Expert Themes</div>
          </div>
        </div>

      </footer>
      <!-- End Footer Style Two -->

    </div>

    <!--Search Popup-->
    <div id="search-popup" class="search-popup">
      <div class="close-search theme-btn"><span class="flaticon-cancel"></span></div>
      <div class="popup-inner">
        <div class="overlay-layer"></div>
        <div class="search-form">
          <form method="post" action="index.html">
            <div class="form-group">
              <fieldset>
                <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                <input type="submit" value="Search Now!" class="theme-btn">
              </fieldset>
            </div>
          </form>

          <br>
          <h3>Recent Search Keywords</h3>
          <ul class="recent-searches">
            <li><a href="#">Finance</a></li>
            <li><a href="#">Idea</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Growth</a></li>
            <li><a href="#">Plan</a></li>
          </ul>

        </div>

      </div>
    </div>

    <!-- sidebar cart item -->
    <div class="xs-sidebar-group info-group">
      <div class="xs-overlay xs-bg-black"></div>
      <div class="xs-sidebar-widget">
        <div class="sidebar-widget-container">
          <div class="widget-heading">
            <a href="#" class="close-side-widget">
              X
            </a>
          </div>
          <div class="sidebar-textwidget">

            <!-- Sidebar Info Content -->
            <div class="sidebar-info-contents">
              <div class="content-inner">
                <div class="logo">
                  <a href="index.html"><img src="../../src/assets/img/logo-2.png" alt="" /></a>
                </div>
                <div class="content-box">
                  <h2>About Us</h2>
                  <p class="text">Core values are the fundamental beliefs of a person or organization. The core values are the guiding prin ples that dictate behavior and action suas labore saperet has there any quote for write lorem percit latineu.</p>
                  <a href="#" class="theme-btn btn-style-one">Consultation</a>
                </div>
                <div class="contact-information">
                  <h2>Contact Info</h2>
                  <ul class="sidebar-list-style">
                    <li><span class="icon flaticon-placeholder"></span>Chicago 12, Melborne City, USA</li>
                    <li><span class="icon flaticon-phone"></span>(111) 111-111-1111</li>
                    <li><span class="icon fa fa-envelope-o"></span>Motor@gmail.com</li>
                    <li><span class="icon flaticon-stopwatch"></span>Week Days: 09.00 to 18.00 Sunday: Closed</li>
                  </ul>
                </div>
                <!-- Social Box -->
                <ul class="social-box">
                  <li class="facebook"><a href="#" class="fab fa-facebook-f"></a></li>
                  <li class="twitter"><a href="#" class="fab fa-twitter"></a></li>
                  <li class="linkedin"><a href="#" class="fab fa-linkedin-in"></a></li>
                  <li class="instagram"><a href="#" class="fab fa-instagram"></a></li>
                  <li class="youtube"><a href="#" class="fab fa-youtube"></a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- END sidebar widget item -->

    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-double-up"></span></div>

    <!-- Color Palate / Color Switcher -->
    <div class="color-palate">
      <div class="color-trigger">
        <i class="fa fa-cog"></i>
      </div>
      <div class="color-palate-head">
        <h6>Choose Your Color</h6>
      </div>
      <div class="various-color clearfix">
        <div class="colors-list">
          <span class="palate default-color active" data-theme-file="css/color-themes/default-theme.css"></span>
          <span class="palate green-color" data-theme-file="css/color-themes/green-theme.css"></span>
          <span class="palate yellow-color" data-theme-file="css/color-themes/blue-theme.css"></span>
          <span class="palate orange-color" data-theme-file="css/color-themes/orange-theme.css"></span>
          <span class="palate purple-color" data-theme-file="css/color-themes/purple-theme.css"></span>
          <span class="palate teal-color" data-theme-file="css/color-themes/teal-theme.css"></span>
          <span class="palate brown-color" data-theme-file="css/color-themes/brown-theme.css"></span>
          <span class="palate redd-color" data-theme-file="css/color-themes/redd-color.css"></span>
        </div>
      </div>
      <ul class="rtl-version option-box"> <li class="rtl">RTL Version</li> <li>LTR Version</li></ul>
      <a href="#" class="purchase-btn">Purchase now $15</a>

      <div class="palate-foo">
        <span>You will find much more options for colors and styling in admin panel. This color picker is used only for demonstation purposes.</span>
      </div>

    </div>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'Hello, world!'
  }
}
</script>

<style>
.home-links a {
  margin-right: 1rem;
}
</style>
