<template>
<div class="page-wrapper">

  <!-- Preloader -->
<!--  <div class="preloader"></div>-->
    <header class="main-header-bar main-header">

      <!--Header-Upper-->
      <div class="header-bar-inner">
        <div class="outer-box clearfix">

          <div class="bar-logo">
            <div class="logo"><a href="index.html"><img src="../../src/assets/img/sidebar-logo.png" alt="" title=""></a></div>
          </div>

          <!--Nav Toggler-->
          <div class="nav-toggler"><button class="toggler-btn navSidebar-button"><span class="bar bar-one"></span><span class="bar bar-two"></span><span class="bar bar-three"></span></button></div>

          <!--Social Links-->
          <div class="social-links">
            <ul class="clearfix">
              <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
              <li><a href="#"><span class="fab fa-twitter"></span></a></li>
              <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fab fa-instagram"></span></a></li>
            </ul>
          </div>

        </div>

        <!--Nav Bg Box-->
        <div class="nav-bg-box"></div>

        <!--Main Nav Outer-->
        <div class="main-nav-outer">

          <!--Logo Box-->
          <div class="main-logo-box"><a href="index.html"><img src="../../src/assets/img/logo-2.png" alt=""></a></div>

          <!--Copyright Text-->
          <div class="copyright-text-box">Autocare is your one stap solution <br> for all auto repair needs!</div>

          <div class="main-nav-box">
            <div class="main-nav">
              <ul class="navigation">
                <li class="dropdown"><a href="#">Home</a>
                  <ul>
                    <li><a href="#menu-back">Go Back</a></li>
                    <li><a href="index.html">Homepage One</a></li>
                    <li><a href="index-2.html">Homepage Two</a></li>
                    <li><a href="index-3.html">Homepage Three</a></li>
                    <li><a href="index-4.html">Homepage Four</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#">About</a>
                  <ul>
                    <li><a href="#menu-back">Go Back</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="appointment.html">Appointment</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="price.html">Price</a></li>
                    <li><a href="coming-soon.html">Coming Soon</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#">Project</a>
                  <ul>
                    <li><a href="#menu-back">Go Back</a></li>
                    <li><a href="project.html">Project</a></li>
                    <li><a href="project-detail.html">Project Detail</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#">Services</a>
                  <ul>
                    <li><a href="#menu-back">Go Back</a></li>
                    <li><a href="services.html">Services 01</a></li>
                    <li><a href="services-2.html">Services 02</a></li>
                    <li><a href="service-detail.html">Services Single</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#">News</a>
                  <ul>
                    <li><a href="#menu-back">Go Back</a></li>
                    <li><a href="blog.html">News</a></li>
                    <li><a href="blog-detail.html">News Detail</a></li>
                    <li><a href="error-page.html">Error Page</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#">Shop</a>
                  <ul>
                    <li><a href="#menu-back">Go Back</a></li>
                    <li><a href="shop.html">Products</a></li>
                    <li><a href="shop-single.html">Products Detail</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="cart.html">Shopping Cart</a></li>
                    <li><a href="login.html">Registration</a></li>
                  </ul>
                </li>
                <li><a href="contact.html">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>


      </div>
      <!--End Header Upper-->

    </header>
    <slot/>
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<style>
body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  margin:0;
  padding:0;
  line-height: 1.5;
}

.layout {
  max-width: 760px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 80px;
}

.nav__link {
  margin-left: 20px;
}
</style>


